<div class="ReadEdit">
  <%= render partial: 'shared/page_top', locals: {main: "Read", sub: "進捗の編集"} %>
    <div class="c-container">
      <div class="Breadcrumbs">
        <%= link_to 'TOP', '/' %>
        <span class="Breadcrumbs__arrow">></span>
        <%= link_to 'タスクの詳細', @task, class: "Breadcrumbs__item" %>
        <span class="Breadcrumbs__arrow">></span>
        <span class="Breadcrumbs__item --now">進捗の編集</span>
      </div>
    </div>
  <%= render "form", task: @task, read: @read, button_value: "更新" %>
</div>