<div class="ReadNew">
  <%= render 'shared/page_top', main: "Read", sub: "進捗の登録" %>
  <div class="c-container">
    <div class="Breadcrumbs">
      <%= link_to 'TOP', '/' %>
      <span class="--arrow">></span>
      <span class="--now">進捗の登録</span>
    </div>
  </div>

  <%= render "form", task: @task, read: @read, button_value: "登録" %>
</div>