<div class="main-wrapper">
  <div class="content-with-header">
    <div class="content-header">
      <div class="header-title">進捗の新規登録</div>
    </div>
    <div class="content-body">
      <%= render "form", task: @task, read: @read, button_value: "登録" %>
    </div>
  </div>
</div>