<div class="side-title">
  <div class="user-name"><%= current_user.name %></div>
</div>
<div class="side-content">
  <div class="user-data">
    <div class="data-calendar">
      <h2 class="calendar-title">今月の読書日</h2>
      <div class="calendar-item">
        <%= month_calendar do |date| %>
          <%= date.day %>
        <% end %>
      </div>
    </div>
  </div>
</div>