<div class="TaskEdit">
  <%= render 'shared/page_top', main: "Task", sub: "目標の編集" %>
  <div class="c-container">
      <div class="Breadcrumbs">
        <%= link_to 'TOP', '/' %>
        <span class="--arrow">></span>
        <%= link_to 'タスクの詳細', @task, class: "Breadcrumbs__item" %>
        <span class="--arrow">></span>
        <span class="--now">タスクの編集</span>
      </div>
    </div>

  <%= render 'form', task: @task, book: @book, button_value: "更新" %>
</div>
