<div class="TaskNew">
  <%= render 'shared/page_top', main: "Task", sub: "目標を設定しましょう。" %>
  <%= render 'shared/breadcrumbs' %>

  <%= render 'form', task: @task, book: @book, button_value: "登録" %>
</div>
