//******** サイト共通定義 **********//

//******** 全体 **********//

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font: x-small;
  background: $color-white;
  color: #444;
  font-family: '游ゴシック', 'YuGothic', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
    sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: calc(0.2vw + 1.2rem);
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
  letter-spacing: 0.05em;
  text-indent: calc(0vw + 0rem);
}

.c-container {
  width: calc(61vw + 210px);
  @include mq($md) {
    width: 100%;
  }
  margin: calc(4vw + 25px) auto;
  padding: 0 calc(1.6vw + 13px);
}

a:link {
  text-decoration: none;
  color: $color-main;
}

//******** フラッシュ **********//

.alert-notice {
  @extend .alert-success !optional;
}

.alert-alert {
  @extend .alert-danger !optional;
}

//******** エラーメッセージ **********//

div.field_with_errors {
  display: contents;

  input {
    border: 2px solid red;
  }
}
