<div class="c-container">
  <div class="Breadcrumbs">
    <%= link_to 'TOP', '/' %>
    <span class="Breadcrumbs__arrow">></span>
    <span class="Breadcrumbs__item <%= ' --now' if controller_name == 'books' %>">本の登録</span>
    <span class="Breadcrumbs__arrow">></span>
    <span class="Breadcrumbs__item <%= ' --now' if controller_name == 'tasks' %>">目標の設定</span>
  </div>
</div>