<div class="Footer">
  <div class="c-container">
    <div class="Footer__wrapper">
      <div class="Footer__item">
        <i class="fas fa-arrow-circle-right"></i>
        <%= link_to "トップ", "/" %>
      </div>
      <div class="Footer__item">
        <p>&copy; 2021 BookDaily</p>
      </div>
    </div>
  </div>
</div>