<div class="Header">
  <div class="Header__logo">
    <%= link_to image_tag('title.png'), "/" %>
  </div>

  <nav id="js-Header__toggle">
    <!--tab未満の場合-->
    <div class="Header__wrapper">
      <div class="Header__content" id="js-Header__content"></div>
    </div>
    <!-- -->
    <ul id="js-Header__list">
      <% if user_signed_in? %>
        <div class="Header__border"></div>
        <li> 
          <%= link_to today_tasks_path do %>
            <i class="far fa-bookmark"></i>
            <span class="Header__text">TASK</span>
          <% end %>
        </li>
        <div class="Header__border"></div>
        <li>
          <%= link_to today_tasks_path do %>
            <i class="far fa-user"></i>
            <span class="Header__text">ACCOUNT</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>