<div class="main-wrapper">
  <section class="introduction-block">
    <div>
      <p>毎日の目標ページ数を決めて、<br/>
      読書を習慣にする。</p>
    </div>
  </section>
</div>

<div class="main-wrapper">
  <div class="content-with-header">
    <div class="content-header">
      <div class="header-title">新着</div>
    </div>
    <div class="content-body">
      <% @reads.each do |read| %>
        <div>
          <%= read.read_on %>
          <%= read.task.user.name %>さんが
          <%= read.task.book.title %> を
          <%= read.read_page %> ページ読みました！
        </div>
      <% end %>
    </div>
  </div>
</div>
