<div class="SearchForm">
  <%= form_with url: books_path, id: 'js-SearchForm', method: :get, local: true do |f| %>
    <%= f.text_field :keyword, id: :keyword, placeholder: "タイトル、著者名" %>
    <%= f.button type: "submit" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>