.News {
  .News__top {
    height: 19vw;
    margin: 0;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201440%20320%22%3E%20%3Cpath%20fill%3D%22%23faf7f3%22%20fill-opacity%3D%221%22%20d%3D%22M0%2C320L30%2C266.7C60%2C213%2C120%2C107%2C180%2C74.7C240%2C43%2C300%2C85%2C360%2C138.7C420%2C192%2C480%2C256%2C540%2C240C600%2C224%2C660%2C128%2C720%2C122.7C780%2C117%2C840%2C203%2C900%2C234.7C960%2C267%2C1020%2C245%2C1080%2C240C1140%2C235%2C1200%2C245%2C1260%2C256C1320%2C267%2C1380%2C277%2C1410%2C282.7L1440%2C288L1440%2C320L1410%2C320C1380%2C320%2C1320%2C320%2C1260%2C320C1200%2C320%2C1140%2C320%2C1080%2C320C1020%2C320%2C960%2C320%2C900%2C320C840%2C320%2C780%2C320%2C720%2C320C660%2C320%2C600%2C320%2C540%2C320C480%2C320%2C420%2C320%2C360%2C320C300%2C320%2C240%2C320%2C180%2C320C120%2C320%2C60%2C320%2C30%2C320L0%2C320Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-position: left;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  h3 {
    position: relative;
    top: 7vw;
    width: calc(25vw + 150px);
    height: auto;
    padding: 10px calc(0.8vw + 6px) 10px calc(18vw + -43px);
    @include mq($sp) {
      padding: 8px calc(0.8vw + 6px) 8px calc(18vw + -43px);
    }
    background-color: $color-main;
    color: $color-white;

    span {
      transform: translateY(0.5em);
      font-weight: 400;
      font-size: calc(1.6vw + 1.5rem);
      line-height: 1;
      font-family: $font-google;
    }

    small {
      margin-left: calc(0.6vw + 7.5px);
      font-weight: 700;
      font-size: calc(0.4vw + 1rem);
    }
  }

  .News__content {
    position: relative;
    padding-top: 30px;
    background-color: $color-beige;
  }

  .c-container {
    padding-bottom: calc(1.6vw + 13px);
  }
}
