.PageBar {
  font-size: calc(0.1vw + 1.3rem);

  h3 {
    margin-bottom: calc(0.8vw + 16px);
    padding: calc(0.2vw + 6px) calc(0.7vw + 12px);
    border-left: 5px solid $color-second;
    background-color: $color-beige;
    font-weight: 700;
    font-size: calc(0.2vw + 1rem);
  }
}
