.ReadNewCard {
  display: flex;
  margin: 10px;
  background-color: $color-white;

  .ReadNewCard__container {
    position: relative;
    width: 100%;
    padding: 15px;
  }

  .ReadNewCard__title {
    width: 60%;
    margin: 5px;
    border-bottom: solid 2px;
    overflow: hidden;
    white-space: nowrap;
  }

  .ReadNewCard__content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .ReadNewCard__book-image {
    flex-basis: 15%;

    .BookImage__cover {
      width: auto;
      height: 100px;
    }
  }
}
