.Search {
  .Search__bar {
    font-size: calc(0.16327vw + 1.33878rem);

    .Search__bar-text {
      background-color: #faf7f3;
      color: #444;
      font-size: calc(0.2vw + 1rem);
      border-left: 5px solid $color-second;
      padding: calc(0.2449vw + 6.08163px) calc(0.73469vw + 12.2449px);
      margin-bottom: calc(0.81633vw + 16.93878px);
      font-weight: 700;
    }
  }
}
