.SignIn {
  .SignIn__field {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
  }

  .SignIn__label-wrapper {
    flex: 0 0 40%;

    span {
      display: block;
      padding-left: 1em;

      @include mq($tab) {
        font-size: 0.7rem;
      }
    }
  }

  label {
    flex: 0 0 40%;
    width: 100%;
    padding-right: 1.5em;
    padding-left: 1em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4;

    @include mq($sp) {
      font-size: 0.8rem;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='password'] {
    flex: 0 0 60%;
    width: 100%;
    max-width: 60%;
    padding: 1em;
    border: 0 !important;
    border-radius: 0.5em;
    width: 100%;
    background-color: #e8f4f6;
    font-size: 0.8em;
    line-height: 1.4;
    outline: 0;

    &.--password {
      background-color: rgba(255, 183, 3, 0.3);
    }

    &:focus {
      box-shadow: 0 0 5px $color-main;

      &.--password {
        box-shadow: 0 0 5px $color-second;
      }
    }
  }

  .SignIn__remember {
    margin-left: 2em;
  }

  input[type='checkbox'] {
    display: none;
  }

  .SignIn__checkbox {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 5px 30px;
    box-sizing: border-box;
    cursor: pointer;

    &::before {
      display: block;
      position: absolute;
      top: 50%;
      left: 5px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      border: 1px solid $color-main;
      border-radius: 5px;
      background: #fff;
      content: '';
    }

    &::after {
      display: block;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: rotate(45deg);
      width: 5px;
      height: 9px;
      margin-top: -7px;
      border-right: 3px solid $color-main;
      border-bottom: 3px solid $color-main;
      content: '';
    }
  }

  input[type='checkbox']:checked + .SignIn__checkbox::after {
    opacity: 1;
  }

  .SignIn__submit {
    margin-bottom: calc(1.6vw + 13px);
    padding: 0 calc(1vw + 40px);
    text-align: center;

    input[type='submit'],
    button {
      position: relative;
      width: 50%;
      max-width: 350px;
      min-width: 240px;
      padding: 1em calc(0.8vw + 16px);
      border-color: $color-main;
      border-radius: 20px;
      background-color: $color-main;
      color: #fff;
      font-size: calc(0.3vw + 1rem);
      font-weight: 700;
      line-height: 1.5;

      &.--signup {
        display: block;
        margin: 0 auto;
        border-color: $color-second;
        background-color: $color-second;
        color: #444;
      }

      &.--delete {
        display: block;
        margin: 0 auto;
        border-color: $color-gray;
        background-color: $color-gray;
        color: #444;
      }
    }
  }

  .SignIn__links {
    text-align: center;
  }

  .SignIn__guide {
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
  }

  .SignIn__guide-border {
    height: 30px;
    border-top: 1px solid #999;
    box-sizing: border-box;

    p {
      width: 17em;
      height: 30px;
      margin: -15px auto 0;
      background: $color-white;
      color: #999;
      font-size: 14px;
      line-height: 30px;
    }
  }
}
