.TaskHistory {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .TaskHistory__calendar {
    flex-basis: 60%;
    padding: 5px 20px;
    text-align: center;
    background-color: $color-white;
  }

  .TaskHitory__calendar-title {
    margin: 0.5em;
    color: $color-main;
    font-weight: 700;
  }

  .TaskHistory__table {
    flex-basis: 25%;
    width: 100%;
  }
}
