//******** トップ画像 ********//

// 幅の定義
%firstview-width {
  width: 100%;
}

// 高さの定義
%firstview-height {
  height: 40vw;
  min-height: 300px;
}

.Firstview {
  position: relative;

  .Firstview__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @extend %firstview-width;
    @extend %firstview-height;

    .Firstview__form {
      @extend %firstview-width;
      max-width: 128rem;
      padding: 4rem 4rem 0 4rem;
    }

    .Firstview__form-head {
      color: $color-white;
      font-size: calc(3vw + 16px);
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.1em;
    }

    .Firstview__form-search {
      margin-left: 0.5em;
    }

    .Firstview__form-sentence {
      transform: translateY(0.2em);
      margin-top: 3em;
      color: $color-second;
      font-weight: 600;
      font-size: calc(1vw + 10px);
      letter-spacing: 0.1em;
      text-shadow: 2px 2px 10px #777, -2px 2px 10px #777, 2px -2px 10px #777, -2px -2px 10px #777;
    }

    .Firstview__img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      @extend %firstview-width;
      margin: 0;
      padding: 10px;

      img {
        @extend %firstview-width;
        @extend %firstview-height;
        border: none;
        border-radius: 30px;
        object-fit: cover;
        object-position: 100% 70%;
      }
    }
  }
}
