.Search {
  .Search__form {
    width: calc(9vw + 100px);
    height: calc(2vw + 20px);
    line-height: calc(0.8vw + 20px);
    font-size: calc(0.2vw + 12px);
  }

  .Search__btn {
    transform: translateY(0.1em);
    height: calc(1.2vw + 20px);
    border-style: none;
  }

  .Search__btn-icon {
    background-color: #fff;
  }
}
