//******** サイト共通変数 **********//

//カラー
$color-main: #219ebc;
$color-second: #ffb703;
$color-white: #fff;
$color-gray: #bdbdbd;
$color-beige: #faf7f3;

// フォント
$font-google: 'Arvo', serif;

//画面サイズ
$sp: 519px;
$tab: 959px;

// [要作業]修正終わり次第削除
$sm: 400px;
$md: 768px;
$xl: 1024px;
