.Home {
  position: relative;

  /* トップ画像 */

  %firstview-width {
    width: 100%;
  }

  %firstview-height {
    height: 40vw;
    min-height: 300px;
  }

  .Firstview {
    @extend %firstview-width;
    @extend %firstview-height;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .Firstview__form {
      @extend %firstview-width;
      max-width: 128rem;
      padding: 4rem 4rem 0 4rem;
    }

    .Firstview__form-head {
      font-size: calc(3vw + 16px);
      font-weight: 700;
      letter-spacing: 0.1em;
      line-height: 1.5;
      color: #fff;
    }

    .Firstview__form-search {
      margin-left: 0.5em;
    }

    .Firstview__form-sentence {
      color: $second-orange;
      font-size: calc(1vw + 10px);
      font-weight: 600;
      text-shadow: 2px 2px 10px #777, -2px 2px 10px #777, 2px -2px 10px #777, -2px -2px 10px #777;
      -webkit-transform: translateY(0.2em);
      transform: translateY(0.2em);
      margin-top: 3em;
      letter-spacing: 0.1em;
    }

    .Firstview__img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      @extend %firstview-width;
      margin: 0;
      padding: 10px;

      img {
        @extend %firstview-width;
        @extend %firstview-height;
        border: none;
        border-radius: 30px;
        object-fit: cover;
        object-position: 100% 70%;
      }
    }
  }

  /* サイト説明 */

  .Description {
    padding-right: calc(5vw + -4.8px);
    padding-top: calc(1.4vw + 14px);
    padding-left: 10px;

    .Description__title {
      margin-bottom: calc(1.2vw + 10px);
    }

    .Description__title-sentence {
      font-size: calc(1vw + 1rem);
      letter-spacing: 0.1em;
      font-weight: 700;
      line-height: 1.8;
      white-space: nowrap;

      .orange {
        color: $second-orange;
      }
    }

    .Description__title-sentence::after {
      content: '';
      width: calc(1.2vw + 10px);
      height: calc(0.08vw + 1.6px);
      background-color: $main-color;
      display: block;
      margin-top: calc(0.8vw + 7px);
    }

    .Description__text {
      font-size: calc(0.8vw + 10px);
      letter-spacing: 0.01em;
      margin-bottom: calc(1.3vw + 20px);
    }
  }
}
