// Webフォント
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

// 外部読み込み
@import 'bootstrap/scss/bootstrap';
@import 'simple_calendar';

// モジュール
@import 'resets/*';
@import 'settings/*';
@import 'mixins/*';
@import 'bases/*';
@import 'modules/*';

/* 全体 */

.main-wrapper {
  border-radius: 4px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;

  .content-with-header {
    font-size: 16px;
  }

  .content-header {
    height: 50px;
    position: relative;
    border-bottom: 1px solid $color-gray;
    box-sizing: border-box;
    line-height: 50px;
  }

  .header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
    position: absolute;
    padding: 0 15px;
    border-bottom: 4px solid #4756ca;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 50px;
  }

  .content-body {
    padding: 15px;
    overflow: hidden;
  }
}

/* 新着欄 */

.read-new-list {
  overflow: hidden;
  width: 100%;
  margin: 0 auto -15px auto;
  padding: 0;

  .read-list-group {
    width: 680px;
    margin: 0;
    padding: 0;

    .group-new {
      width: 132px;
      display: inline-block;
      padding: 0 5px;
      margin-bottom: 15px;
      position: relative;
      box-sizing: border-box;

      .book-image-cover {
        position: relative;
        text-align: center;
        width: 122px;
        height: 145px;
        margin-bottom: 3px;

        .book-image {
          position: absolute;
          width: 100px;
          max-height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      .new-detail {
        width: 100%;

        .detail-title {
          position: relative;
          width: 100%;
          height: 30px;
          padding-right: 4px;
          margin-bottom: 2px;
          box-sizing: border-box;
          overflow: hidden;
          background: $color-white;
          line-height: 15px;
          font-size: 11px;
          color: #4756ca;
        }

        .detail-content {
          font-size: 14px;

          .detail-read-date {
            background-color: $color-gray;
            height: 20px;
            width: 50px;
            border-radius: 4px;
            border: 1px solid $color-gray;
            box-sizing: border-box;
            background-color: $color-gray;
            color: $color-white;
            font-size: 10px;
            line-height: 18px;
            text-align: center;
          }
        }
      }
    }
  }
}

/* 書籍検索結果ページ */

.book-list {
  width: 660px;
  margin: 5px 0 0 0;
  padding: 0;
}

.book-list-group {
  width: 660px;
  border-bottom: 1px solid #f0f0f0;
}

.group-book {
  display: inline-block;
  vertical-align: top;
  width: 132px;
  min-height: 250px;
  padding: 15px 5px 15px 5px;
  margin: 5px 5px 5px 5px;
  position: relative;
  box-sizing: border-box;
}

img.book-image {
  width: 122px;
  height: 145px;
  margin-bottom: 3px;
}

.detail-title {
  position: relative;
  width: 100%;
  height: 40px;
  padding-right: 4px;
  margin-bottom: 2px;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}

.detail-author {
  height: 2em;
  margin-bottom: 5px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  font-size: 13px;
  line-height: 1.5;
}

.detail-page-count {
  display: flex;
  margin-bottom: 3px;
}

.count-title {
  height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  border-left: 1px solid $color-gray;
  box-sizing: border-box;
  background-color: $color-gray;
  color: $color-white;
  font-size: 10px;
  line-height: 18px;
  padding: 0 5px;
}

.count-item {
  height: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  box-sizing: border-box;
  color: #4756ca;
  font-size: 10px;
  line-height: 18px;
  padding: 0 5px;
}

/* ログイン、サインインページ */

.field-title {
  font-size: 14px;
  margin-bottom: 8px;
}

.field-field {
  appearance: none;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid $color-gray;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 16px;
}

.actions {
  width: 100%;
  max-width: 420px;
  min-width: 120px;
  margin: 0 auto 16px;
}

.actions-signup {
  width: 100%;
  max-width: 420px;
  min-width: 120px;
  margin: 16px auto 16px;
}

.login-submit-btn {
  appearance: none;
  outline: none;
  width: 100%;
  display: block;
  background: #4756ca;
  border-radius: 100px;
  border: 1px solid #4756ca;
  box-sizing: border-box;
  color: $color-white !important;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

.login-render {
  text-align: center;
}

.login-guide-wrap {
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;
}

.login-border-wrap {
  border-top: 1px solid #999;
  box-sizing: border-box;
  height: 30px;
}

.login-guide-text {
  font-size: 14px;
  color: #999;
  height: 30px;
  line-height: 30px;
  margin: -15px auto 0;
  background: $color-white;
  width: 17em;
}

.login-btn-wrap {
  width: 100%;
  max-width: 420px;
  min-width: 120px;
  margin: 0 auto 16px;
}

.login-btn-link {
  width: 100%;
  display: block;
  background: $color-gray;
  border-radius: 100px;
  border: 1px solid $color-gray;
  box-sizing: border-box;
  color: #313f52 !important;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px;
}

/* タスク一覧ページ */

.main-wrapper-task {
  @extend .main-wrapper;
  float: right;
  width: 694px;
}

.header-title-task-tab {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 50px;
  position: relative;
  display: inline-block;
  padding: 0 15px;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 50px;
}

a.header-title-task-tab {
  text-decoration: none;
  color: #212121;
}

a.selected {
  border-bottom: 4px solid #4756ca;
}

/* タスク一覧ページ、サイドバー */

.side-wrapper {
  border-radius: 4px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  box-sizing: border-box;
  float: left;
  text-align: left;
  margin-bottom: 10px;
  width: 285px;

  .side-title {
    padding: 10px;

    .user-icon {
      border: 0px none;
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: left;
      margin-right: 10px;
    }

    .user-name {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  .user-data {
    border-top: 1px solid $color-gray;

    .reading-title {
      background-color: #e6e9ec;
      border-bottom: 1px solid $color-white;
      border-right: 1px solid #e6e9ec;
      font-size: 12px;
      font-weight: bold;
      line-height: 35px;
      color: #333;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.task {
  border-bottom: 1px solid $color-gray;
  margin-top: 5px;

  .task-image {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 10px 0;
  }

  .task-detail {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 10px 0;

    .task-detail-title {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 15px;
    }

    .task-detail-today-page-number {
      display: flex;
      margin-bottom: 5px;
      margin-left: 10px;
      height: 30px;
      line-height: 30px;

      .number-title {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: 1px solid $color-gray;
        border-bottom: 1px solid $color-gray;
        border-left: 1px solid $color-gray;
        box-sizing: border-box;
        background-color: #bde4f4;
        font-size: 15px;
        padding: 0 5px 0 5px;
      }

      .number-item {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: 1px solid $color-gray;
        border-bottom: 1px solid $color-gray;
        border-right: 1px solid $color-gray;
        box-sizing: border-box;
        color: #4756ca;
        font-size: 13px;
        padding: 0 5px;
      }
    }

    .task-detail-today-page {
      font-size: 13px;
    }

    .task-detail-finish-date {
      font-size: 13px;
    }
  }
}

.month-reading {
  margin-top: 10px;
  border-top: 1px solid $color-gray;
  display: flex;

  .reading-this-month,
  .reading-last-month {
    box-sizing: border-box;
    width: 50%;

    ul {
      margin: 0;
      padding: 0;
    }

    .reading-list {
      border-right: 1px solid #f0f0f0;

      .list-item:not(:last-child) {
        border-bottom: 1px solid #f0f0f0;
      }

      .list-item {
        height: 40px;
        padding: 10px 5px 10px 10px;

        .item-number {
          font-size: 16px;
          font-weight: bold;
          color: #555;
        }

        .item-unit {
          font-size: 12px;
          color: #555;
          margin-left: 2px;
        }
      }
    }
  }
}

/* カレンダー */
.simple-calendar {
  color: #212121;
  width: 100%;

  .calendar-heading {
    margin-left: 10px;

    .calendar-title {
      font-size: 12px;
      font-weight: bold;
      line-height: 31px;
    }
  }

  .table {
    margin-bottom: 0;
  }

  .day {
    height: 30px;
  }

  .today {
    background-color: transparent;
  }

  .has-events {
    background-color: #bde4f4;
  }

  .prev-month {
    background-color: #e6e9ec !important;
    font-size: 12px;
    text-align: center;
  }

  .next-month {
    background-color: #e6e9ec !important;
    font-size: 12px;
    text-align: center;
  }

  .current_month {
    text-align: center;
  }

  .calendar-footer {
    .calendar-previous {
      text-align: left;
      float: left;
      margin-left: 8px;
    }

    .calendar-next {
      text-align: right;
      margin-right: 8px;
    }
  }
}

/* タスク詳細ページ */

.btn-read-new-submit {
  width: 100%;
  width: 120px;
  margin: 0 auto 10px 0;
  display: block;
  background: #d6e4f0;
  border-radius: 100px;
  border: 1px solid #1e56a0;
  box-sizing: border-box;
  color: #163172 !important;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.table-read {
  width: 500px;
}

.reads-index {
  margin-top: 20px;
}

/* 進捗新規登録ページ */

.form-field {
  padding: 10px 0 10px;
  border-bottom: 1px solid #f0f0f0;

  .field-caption {
    display: inline-block;
    position: relative;
    width: 200px;
    padding: 4px 15px 6px 0;
    margin: 0;
    text-align: left;

    label {
      line-height: 24px;
    }
  }

  .field-input {
    width: 250px;
    text-align: left;
    display: inline-block;
    position: relative;

    input[type='date'],
    input[type='text'] {
      border-radius: 5px;
      font-size: 13px;
      line-height: 1;
      padding: 10px 30px 10px 10px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }
  }
}

.btn-read-new {
  input[type='submit'] {
    width: 120px;
    margin: 10px auto 13px 200px;
    display: block;
    background: #d6e4f0;
    border-radius: 100px;
    border: 1px solid #1e56a0;
    box-sizing: border-box;
    color: #163172 !important;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
  }
}

/* 書籍新規登録ページ */

.book-new-btn {
  margin: 0 auto 20px 20px;

  .btn-book-new-submit {
    width: 100%;
    width: 120px;
    margin: 0 auto 10px 0;
    display: block;
    background: #4756ca;
    border-radius: 100px;
    border: 1px solid #4756ca;
    box-sizing: border-box;
    color: #fcfcfc !important;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
  }
}

/* タスク新規登録ページ */

.caption-task-new {
  width: 70px !important;
}

.table-task-new {
  table-layout: fixed;
  width: 500px;
  overflow: hidden;

  th {
    width: 160px;
  }
}

.btn-task-new {
  input[type='submit'] {
    margin-left: 50px;
  }
}

/* アカウント編集ページ */

.field-account-edit {
  padding: 10px 0 10px;
  border-bottom: 1px solid #f0f0f0;
}

.edit-submit-btn {
  appearance: none;
  outline: none;
  width: 100%;
  display: block;
  background: #4756ca;
  border-radius: 100px;
  border: 1px solid #4756ca;
  box-sizing: border-box;
  color: $color-white !important;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  margin-top: 10px;
}

.cancel-guide-wrap {
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;

  .cancel-border-wrap {
    border-top: 1px solid #999;
    box-sizing: border-box;
    height: 30px;
  }

  .cancel-guide-text {
    font-size: 14px;
    color: #999;
    height: 30px;
    line-height: 30px;
    margin: -15px auto 0;
    background: $color-white;
    width: 17em;
  }
}

.cancel-btn-wrap {
  width: 100%;
  max-width: 420px;
  min-width: 120px;
  margin: 0 auto 16px;

  .cancel-submit-btn {
    width: 100%;
    display: block;
    background: $color-gray;
    border-radius: 100px;
    border: 1px solid $color-gray;
    box-sizing: border-box;
    color: #313f52 !important;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
  }
}
