/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

/* 全体 */

body {
  background-color: #fcfcfc;
  color: #212121;
}

.base-container {
  margin: 5px auto 0;
  padding: 1rem;
}

.main-wrapper {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  width: 720px;
}

.content-with-header {
  font-size: 16px;
}

.content-header {
  height: 50px;
  position: relative;
  border-bottom: 1px solid #bdbdbd;
  box-sizing: border-box;
  line-height: 50px;
}

.header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 50px;
  position: absolute;
  padding: 0 15px;
  border-bottom: 4px solid #4756ca;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 50px;
}

.content-body {
  padding: 15px;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

/* フラッシュ*/

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

/* エラーメッセージ */

div.field_with_errors {
  display: contents;

  input {
    border: 2px solid red;
  }
}

/* ヘッダー */

.logout-header {
  width: 100%;
  height: 35px;
  background-color: #4756ca;
  line-height: 35px;
  padding: 0 5px 0 5px;
}

.link {
  color: #fff;
}

.login-right {
  float: right;
}

.title-header {
  background-color: #fff;
  border-bottom: 1px solid #bdbdbd;
  margin: 0 auto;
}

.title {
  display: inline-block;
  margin: 10px 0 0 10px;
  position: relative;
}

.search-form {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 0 30px;
  position: relative;
}

/* トップページ */

img {
  border-radius: 4px;
  border: 1px solid #bdbdbd;
}
