/* 画面サイズ */

$sm: 400px;
$md: 768px;
$xl: 1023px;

@mixin mq($breakpoint: $sm) {
  @media screen and (max-width: #{$breakpoint} ) {
    @content;
  }
}

/* カラー */

$main-color: #219ebc;
$second-orange: #ffb703;

/* 全体 */

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font: x-small;
  background: #fff;
  color: #444;
  font-family: '游ゴシック', 'YuGothic', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
    sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: calc(0.2vw + 1.2rem);
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
  letter-spacing: 0.05em;
  text-indent: calc(0vw + 0rem);
}

.container {
  width: calc(61vw + 210px);
  @include mq($md) {
    width: 100%;
  }
  margin: calc(4vw + 25px) auto;
  padding: 0 calc(1.6vw + 13px);
}

a:link {
  text-decoration: none;
  color: $main-color;
}

/* フラッシュ*/

.alert-notice {
  @extend .alert-success !optional;
}

.alert-alert {
  @extend .alert-danger !optional;
}

/* エラーメッセージ */

div.field_with_errors {
  display: contents;

  input {
    border: 2px solid red;
  }
}

/* ヘッダー */

%header-height {
  height: calc(5vw + 40px);
}

.Header {
  @extend %header-height;
  padding-left: 0;
  margin-bottom: 20px;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;

  .Header__logo {
    width: 100%;
    max-width: 325px;
    float: left;

    a {
      display: block;
      width: 100%;

      img {
        @extend %header-height;
        border: none;
        width: auto;
        max-width: 40vw;
        @include mq($md) {
          max-width: calc(50vw);
        }
        padding: 20px 10px 0 10px;
      }
    }
  }

  .Header__container {
    @extend %header-height;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: calc(100% - 40vw);
    @include mq($md) {
      width: calc(100% - 50vw);
    }
    background: $main-color;
    border-radius: 0 0 0 40px;

    .Header__list {
      position: relative;
      display: flex;
      justify-content: flex-end;
      vertical-align: top;
      height: 100%;
      padding-top: 5px;
      padding-bottom: 5px;

      &.--mypage,
      &.--menu,
      &.--guest,
      &.--login {
        width: calc(5vw + 40px);
        border-left: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        font-weight: bold;
        color: #fff;

        .Header__icon {
          height: calc(1.6vw + 23px);
        }

        .Header__text {
          font-family: 'URWDIN-Demi', sans-serif;
          font-size: 1vw;
          color: #fff;
          overflow: hidden;

          .Header__for-margin {
            margin-right: 3px;
          }
        }
      }

      &.--submenu {
        display: none;
        position: absolute;
        top: calc(5vw + 40px);
        background-color: $main-color;
        border-radius: 0 0 50% 50%;
        color: #fff;
        right: 0;
        margin: 0;
        padding: 0 3vw 3vw 1vw;

        .Header__content {
          .Header__head {
            color: #fec800;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 0.5em;
            font-size: calc(-0.4vw + 1rem);
            font-weight: 700;

            .Header__text {
              font-family: 'URWDIN-Demi', sans-serif;
              -webkit-transform: translateY(0.2em);
              transform: translateY(0.2em);
            }
          }

          .Header__item {
            @extend .Header__head;
            border: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 1em;

            &.--last {
              margin-bottom: 2em;
            }

            a {
              color: #fff;
            }
          }

          .last {
            margin-bottom: 2em;
          }
        }
      }
    }
  }
}
